.rounded_button {
  border-radius: 15px;
  border: 2px solid;
  width: 100px;
  height: 50px;
  background-color: $dark-gray;
}

.rounded_green_button {
  @extend .rounded_button;
  border-color: $green;
  color: $green;
}

.rounded_red_button {
  @extend .rounded_button;
  border-color: $red;
  color: $red;
}

.button_span {
  display: block;
  text-align: center;
  line-height: 1em;
  font-size: medium;
  font-weight: 100;
  color:$green
}

span{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body{
  background-color: $dark-gray;
}

h1,
p{
  color: white;
}
